@import 'src/styles/variables';

.home {
  width: 595px;
  height: 982px;
  background: $red-color;
  display: flex;
  width: 100%;

  &__side {
    width: 35%;
    color: $red-color;

    &__wrapper {
      background: #fff;
      margin: 0px 20px 50px 40px;
      height: 60%;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;

      &__circle {
        border-radius: 50%;
        background: $red-color;
        width: 100px;
        height: 100px;

        position: absolute;
        left: 50%;
        top: 50px;
        transform: translateX(-50%);
        z-index: 1;
      }

      &__avatar {
        position: absolute;
        left: 50%;
        top: 55px;
        transform: translateX(-40%);
        width: 200px;
        z-index: 2;
      }

      &--full {
        border-radius: 30px !important;
        height: 30%;
      }
    }
  }

  &__main-content {
    background: #fff;
    flex-grow: 1;
  }
}

.line {
  flex-grow: 1;
  height: 5px;
  background: $red-color;
}

.rectangle {
  background: $red-color;
  width: 20px;
  height: 20px;
}
